{% extends "CompData/base.html" %}
{% block content %}


<!-- List -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Best Sale</li>
    </ol>
</nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Sale Name</th>
        <th scope="col">Price</th>
    </tr>
    <tbody>
    <tr>


        <td>{{sale.product}}</td>
        <td>{{sale.product}}</td>
    </tr>


    {% endblock %}
