{% extends "CompData/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
    </ol>
</nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Telephone number</th>
        <th scope="col">Departament</th>
    </tr>
    <tbody>
    <tr>
        <td>{{emp.name}}</td>
        <td>{{emp.telephone_number}}</td>
        <td>{{emp.departament_name}}</td>
    </tr>




    {% endblock %}