{% extends "CompData/base.html" %}
{% block content %}




<!-- List -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee Sale</li>
    </ol>
</nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
         <th scope="col">Price</th>
        <th scope="col">Employee</th>

    </tr>
    <tbody>
    <tr>
        {% for sale in sale_list %}
        <td>{{sale.product.name}}</td>
        <td>{{sale.product.price}}</td>
        <td>{{sale.product.name}}</td>

    </tr>



     {% endfor %}
    {% endblock %}
